## A program that prints the "Hello, world!" message.

### A welcome message.

In [6]:
print("Hello, world")

Hello, world

### TODO: ask user their name and save it as a file.

### Collect input for x and print statement.

In [7]:
x = input()
print("The value of x is", x)

The value of x is 17

### The code below is concatenating two strings instead of performing math because inputs are string variables.

In [8]:
x = input("x: ")
y = input("y: ")
print(x, "+", y, "=", x+y)

17 + 19 = 1719

### The code below captures two separate variable types (integer and float). Then it performs math and prints a statement.

In [9]:
x = int(input())
y = float(input())
print("x = ", x)
print("y = ", y)
print("x+y = ", x+y)
z = 'This is a string: "' + str(x+y) + '"'
print(z)

x =  17
y =  -19.12
x+y =  -2.120000000000001
This is a string: "-2.120000000000001"

### The code below assigns an integer value to a variable, prints a statement, updates the variable using a mathematical formula, and prints a new statement with a new value.

In [10]:
x = 17
print("The value of x was", x)
x = x + 2
print("The value of x is", x)

The value of x was 17
The value of x is 19

### The various code below demonstrates simple division, floored division, and modulo

In [12]:
a = 5/2
print(a)
5//2
a = 5//2
print(a)
5 % 2
a = 5 % 2
print(a)
-7//2
a = -7//2
print(a)

2.5
2
1
-4

### Getting Started - Emoticon

In [1]:
print(":-)")

:-)

### Getting Started - Seven Brothers

In [2]:
print("Aapo")
print("Eero")
print("Juhani")
print("Lauri")
print("Simeoni")
print("Timo")
print("Tuomas")

Aapo
Eero
Juhani
Lauri
Simeoni
Timo
Tuomas

### Getting Started - Row, Row Your Boat

In [3]:
print("Row, row, row your boat, Gently down the stream. Merrily,")
print("merrily, merrily, merrily, Life is but a dream.")

Row, row, row your boat, Gently down the stream. Merrily,
merrily, merrily, merrily, Life is but a dream.

### Getting Started - Arithmetic

In [4]:
print(2 + 5)
print(3 * 3)
print(2 + 2 * 10)

7
9
22

### Input from User - Name Twice

In [ ]:
name = input("What is your name? ")
print(name)
print(name)

Paul

### Input from User - Name and Exclamation Marks

In [6]:
name = input("What is your name? ")
print("!" + name + "!" + name + "!")

!Paul!Paul!

### Inpupt from User - Name and Address

In [10]:
givenName = input("What is your given name? ")
familyName = input("What is your family name? ")
streetAddress = input("What is your street address? ")
cityAndPostalCode = input("What is your City and Postal Code? ")

print("Given name: " + givenName)
print("Family name: " + familyName)
print("Street address: " + streetAddress)
print("City and postal code: " + cityAndPostalCode)

print(givenName + " " + familyName)
print(streetAddress)
print(cityAndPostalCode)

Given name: Steve
Family name: Sanders
Street address: 91 Station Road
City and postal code: London EC05 6AW
Steve Sanders
91 Station Road
London EC05 6AW

### Input from User - Fix the Code: Utterances

In [11]:
firstPart = input("What is the 1st part? ")
secondPart = input("What is the second part? ")
thirdPart = input("What is the third part? ")

print("The 1st part: " + firstPart)
print("The 2nd part: " + secondPart)
print("The 3rd part: " + thirdPart)
print(firstPart + "-" + secondPart + "-" + thirdPart + "!")

The 1st part: hickory
The 2nd part: dickory
The 3rd part: dock
hickory-dickory-dock!

### Input from User - Fix the Code: Utterances

In [16]:
name = input("What is the character's name? ")
year = input("What year did the story happen? ")
print(name + " is a valiant knight, born in the year " + year +". One") 
print("morning " + name + " woke up to an awful racket: a dragon was") 
print("approaching the village. Only " + name + " could save the") 
print("village's residents.")

Mary is a valiant knight, born in the year 1572. One
morning Mary woke up to an awful racket: a dragon was
approaching the village. Only Mary could save the
village's residents.

### More about variables - Extra Space:

In [20]:
name = "Tim Tester"
age = 20
skill1 = "python"
level1 = "beginner"
skill2 = "java"
level2 = "veteran"
skill3 = "programming"
level3 = "semiprofessional"
lower = 2000
upper = 3000

print(f"my name is {name}, I am {age} years old\n")
print("my skills are")
print(f"- {skill1} ({level1})")
print(f"- {skill2} ({level2})")
print(f"- {skill3} ({level3})\n")
print(f"I am looking for a job with a salary of {lower}-{upper}, euros per month")

my name is Tim Tester, I am 20 years old

my skills are
- python (beginner)
- java (veteran)
- programming (semiprofessional)

I am looking for a job with a salary of 2000-3000, euros per month

### More about variables - Fix the code: Print a single line

In [22]:
print(5, end="")
print(" + ", end="")
print(8, end="")
print(" - ", end="")
print(4, end="")
print(" = ", end="")
print(5 + 8 - 4)

5 + 8 - 4 = 9

### Arithmetic Operations - Times five

In [23]:
number1 = int(input("Please enter a number: "))
number2 = 5
calculation = number1 * number2
print(f"{number1} times {number2} is {calculation}")

3 times 5 is 15

### Arithmetic Operations - Name and age

In [ ]:
name = input("What is your name? ")
year = int(input("What year were you born? "))
age = 2025 - year
print(f"Hi {name}, you will be {age} years old at the end of the year 2025.")

Hi, Cecelia, you will be 42 years old at the end of the year 2025.

### Arithmetic Operations - Seconds in a day

In [25]:
days = int(input("How many days on vacation? " ))
secondsInDay = (24*60)*60
calculation = days * secondsInDay
print(f"Seconds in that many days: {calculation}")

Seconds in that many days: 432000

### Arithmetic Operations - Fix the code: Product

In [26]:
number1 = int(input("What is the first number? "))
number2 = int(input("What is the second number? "))
number3 = int(input("What is the third number? "))
calculation = number1 * number2 * number3
print(f"The product is {calculation}.")

The product is 30.

### Arithmetic Operations - Sum and product

In [27]:
number1 = int(input("What is the first number? "))
number2 = int(input("What is the second number? "))
sum = number1 + number2
product = number1 * number2
print(f"The sum of the numbers: {sum}")
print(f"The product of the numbers: {product}")

The sum of the numbers: 10
The product of the numbers: 21

### Arithmetic Operations - Sum and mean

In [30]:
number1 = int(input("What is the first number? "))
number2 = int(input("What is the second number? "))
number3 = int(input("What is the third number? "))
number4 = int(input("What is the fourth number? "))
sum = number1 + number2 + number3 + number4
mean = sum/4
print(f"The sum of the numbers is {sum} and the mean is {mean}")

The sum of the numbers is 16 and the mean is 4.0

### Arithmetic Operations - Students in groups

In [32]:
students = int(input("How many students on the course? "))
groupSize = int(input("Desired group size? "))
numberOfGroups = int(students/groupSize)
print(f"Number of groups formed: {numberOfGroups}")

Number of groups formed: 2

### Class Example 4.10.25

In [1]:
age = int(input("What's you age?"))
if age >= 18:
    print("You are an adult.")
else:
    print("You are a child.")

You are an adult.

### Conditional Statements - Orwell

In [ ]:
number = int(input("Please type in a number: "))

if number == 1984:
    print("Orwell")

### Conditional Statements - Absolute value

In [4]:
number = int(input("Please type in a number: "))

if number < 0:
    absolute_value = number * -1
    print(f"The absolute value of this number is {absolute_value}")
else:
    print(f"The absolute value of this number is {number}")

The absolute value of this number is 99

### Conditional Statements - Soup or no soup

In [8]:
name = input("What is your name? ")

if name == "Jerry":
    print("Next please!")
else:
    portions = int(input("How many portions of soup? "))
    cost = portions * 5.9
    print(f"The total cost is {cost}")
    print("Next please!")

The total cost is 11.8
Next please!

### Conditional Statements - Order of Magnitude

In [14]:
number = int(input("Please type in a number: "))

if number < 1000 and number >= 100:
    print("This number is smaller than 1000")
    print("Thank you!")
elif number < 100 and number >= 10:
    print("This number is smaller than 1000")
    print("This number is smaller than 100")
    print("Thank you!")
elif number < 10:
    print("This number is smaller than 1000")
    print("This number is smaller than 100")
    print("This number is smaller than 10")
    print("Thank you!")
else:
    print("Thank you!")

Thank you!

### Conditional Statements - Calculator

In [20]:
number1 = int(input("Enter Number 1: "))
number2 = int(input("Enter Number 2: "))
is_integer = isinstance(number1, int) and isinstance(number2, int)

if is_integer == True:
    suma = number1 + number2
    sumb = number1 - number2 
    product = number1 * number2
    print(f"{number1} + {number2} = {suma}")
    print(f"{number1} - {number2} = {sumb}")
    print(f"{number1} * {number2} = {product}")

6 + 8 = 14
6 - 8 = -2
6 * 8 = 48

### Conditional Statements - Temperatures

In [23]:
temperatureF = float(input("Please type in a temperature in (F): "))
temperatureC = (temperatureF-32)*(5/9)

if temperatureC < 0:
    print(f"{temperatureF} degrees in Fahrenheit equals {temperatureC} in Celsius.")
    print("Brr! It's cold in here!")
else:
    print(f"{temperatureF} degrees in Fahrenheit equals {temperatureC} in Celsius.")

21.0 degrees in Fahrenheit equals -6.111111111111112 in Celsius.
Brr! It's cold in here!

### Conditional Statements - Daily wages

In [27]:
hourly_wage = float(input("How much do you make per hour? "))
hours_worked = float(input("How many hours did you work today? "))
day_of_week = input("What day is today? ")

if day_of_week == "Sunday":
    daily_wages = (hourly_wage * hours_worked) * 2
    print(f"Daily wages: {daily_wages} euros")
else:
    daily_wages = hourly_wage * hours_worked
    print(f"Daily wages: {daily_wages} euros")

Daily wages: 250.0 euros

### Conditional Statements - Loyalty bonus

In [30]:
points = float(input("How many points are on your card? "))

if points < 100:
    discount = "10%"
    bonus_points = points * .1
    points = points + bonus_points
    print(f"Your bonus is {discount}")
    print(f"You now have {points}")
else:
    discount = "15%"
    bonus_points = points * .15
    points = points + bonus_points
    print(f"Your bonus is {discount}")
    print(f"You now have {points}")

Your bonus is 15%
You now have 120.75

### Conditional Statements - What to wear tomorrow

In [ ]:
print("What is the weather forecast for tomorrow?")
temperatureF = float(input("Enter the temperature (F): "))
temperatureC = (temperatureF-32)*(5/9)
rain = input("Will it rain (yes/no): ")

if temperatureC > 20:
    if rain == "no":
        print("Wear jeans and a T-shirt")
    else:
        print("Wear jeans and a T-shirt")
        print("Don't forget your umbrella!")    
elif temperatureC > 10 and temperatureC <= 20:
    if rain == "no":
         print("Wear jeans and a T-shirt")
         print("I recommend a jumper as well")
    else:
        print("Wear jeans and a T-shirt")
        print("I recommend a jumper as well")
        print("Don't forget your umbrella!")   
elif temperatureC > 5 and temperatureC <= 10:
    if rain == "no":
        print("Wear jeans and a T-shirt")
        print("I recommend a jumper as well")
        print("Take a jacket with you")
    else:
        print("Wear jeans and a T-shirt")
        print("I recommend a jumper as well")
        print("Take a jacket with you")
        print("Don't forget your umbrella!")
else:
    if rain == "no":
        print("Wear jeans and a T-shirt")
        print("I recommend a jumper as well")
        print("Take a jacket with you")
        print("Make it a warm coat actually")
        print("I think gloves are in order")
    else:
        print("Wear jeans and a T-shirt")
        print("I recommend a jumper as well")
        print("Take a jacket with you")
        print("Make it a warm coat actually")
        print("I think gloves are in order")
        print("Don't forget your umbrella!")

SyntaxError: expected ':' (3663760534.py, line 21)