In [1]:
data = ["apple", 3.14, 42]
print(data[1])

3.14

In [3]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
numbers = [10, 20, 30, 40, 50]
numbers[2] = 35
print(numbers)

[10, 20, 35, 40, 50]

In [5]:
def modify_list(lst):
    lst.append(4)

my_list = [1,2,3]
modify_list(my_list)
print(my_list)

[1, 2, 3, 4]

In [6]:
my_dict = {"a": 1, "b": 2, "c": 3}
result = 0
for key in my_dict:
    result += my_dict[key]
print(result)

6

In [7]:
my_tuple = (1, 2, 3)
my_tuple[1] = 4
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

### Class Exercise #1 5.1.25

In [8]:
def find_longest(words):
    longest = ""
    for word in words:
        if len(word) > len(longest):
            longest = word
    return longest

sample_words = ["algorithm", "data", "structure", "python"]
print(f"Longest word: {find_longest(sample_words)}")

Longest word: algorithm

### Class Exercise 2 - 5.1.25

In [ ]:
# Matrix Transposition

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print("Transposed matrix:")
for row in transposed:
    print(row)

# for i = 0: [row for row in matrix] -> [1][4][7]
# for i = 1: [row for row in matrix] -> [2][5][8]
# for i = 2: [row for row in matrix] -> [3][6][9]
# square brackets inside of square brackets are nesting for loops
# recreates the lists within list

Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Class Exercise 3 - 5.1.25

In [10]:
def process_cart(cart):
    temp_cart = cart.copy()
    temp_cart.append("Gift Wrap")
    return temp_cart

original_cart = ["Book", "Pen"]
# Adding items to shopping cart
new_cart = process_cart(original_cart)
print(f"Original: {original_cart}\nModified: {new_cart}")

Original: ['Book', 'Pen']
Modified: ['Book', 'Pen', 'Gift Wrap']

### Class Exercise 4 - 5.1.25

In [ ]:
# Student Database

student_db = {
    101: {"name": "Alice", "grades": {"math": 85, "physics": 90}},
    102: {"name": "Bob", "grades": {"math": 78, "physics": 82}}
}

def add_grade(db, sid, subject, score):
    db[sid]["grades"][subject] = score

add_grade(student_db, 101, "chemistry", 88)
print("Updated DB:", student_db[101])

# call dictionary, call student id, call grades dictionary, and append with course key and score value

Updated DB: {'name': 'Alice', 'grades': {'math': 85, 'physics': 90, 'chemistry': 88}}

### Class Exercise 5 - 5.1.25

In [12]:
def invert_dict(original):
    return {v: k for k, v in original.items()}

codes = {"A": "Alpha", "B": "Bravo", "C": "Charlie"}
print("Inverted:", invert_dict(codes))

# Inverting a dictionary means swapping keys and values

Inverted: {'Alpha': 'A', 'Bravo': 'B', 'Charlie': 'C'}

### Class Exercise 6 - 5.1.25

In [13]:
from collections import namedtuple
Student = namedtuple('Student', ['name', 'age', 'major'])

cs_student = Student("Emma", 20, "Computer Science")
print(f"{cs_student.name} studies {cs_student.major}")

Emma studies Computer Science

### Class Exercise 7 - 5.1.25

In [ ]:
matrix = [[1,2], [3,4]]
copy = matrix.copy()
copy [0][0] = 99
print(f"copy: {copy}, original: {matrix}")

# to prevent unintended mutation, use deepcopy instead of copy matrix.deepcopy()

copy: [[99, 2], [3, 4]], original: [[99, 2], [3, 4]]

### Tuples

In [ ]:
# Creating a tuple

tup = 1, 2, 3
print(tup)

(1, 2, 3)

In [ ]:
# Creating a tuple from a string

tup = tuple('string')
print(tup)

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
# Accessing a tuple element by index

print(tup[0])

s

In [ ]:
# Concatenating multiple tuples

print((0, 1) + (4, 5) + (6, 7) + (8, 9))

(0, 1, 4, 5, 6, 7, 8, 9)

In [ ]:
# Multiplying a tuple (repeating its contents)

print(('foo', 'bar') * 4)

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [ ]:
# Tuple unpacking

tup = 4, 5, 6
a, b, c = tup
print(b)

5

In [ ]:
# Unpacking tuples inside a list and using them in a loop

seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

### Lists

In [22]:
# Basic List Creation and Display

a_list = [1, 2, 3, 4, 5]
print(a_list)

[1, 2, 3, 4, 5]

In [23]:
# Converting Tuple to List

tup = ('foo', 'bar')
b_list = list(tup)
print(b_list)

['foo', 'bar']

In [24]:
# Modifying List Elements

b_list[1] = 'peekaboo'
print(b_list)

['foo', 'peekaboo']

In [25]:
# Appending Elements

b_list.append('yum')
print(b_list)

['foo', 'peekaboo', 'yum']

In [26]:
# Inserting Elements at a Specific Position

b_list.insert(1, 'red')
print(b_list)

['foo', 'red', 'peekaboo', 'yum']

In [27]:
# Removing Elements by Index

removed = b_list.pop(2)
print(removed)
print(b_list)

peekaboo
['foo', 'red', 'yum']

In [28]:
# Concatenating Lists

print([1, 2, 3] + [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [29]:
# List Slicing Examples

seq = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(seq[1:5])
print(seq[:5])
print(seq[3:])
print(seq[-4:])
print(seq[::2])
print(seq[::-1])

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# Removing by Value

seq2 = [1, 2, 3, 4, 5]
seq2.remove(3)
print(seq2)

[1, 2, 4, 5]

In [31]:
# Checking Membership

print(4 in seq2)

True

In [32]:
# Counting Occurrences

print([1, 2, 2, 3].count(2))

2

In [33]:
# List Comprehension Example

squared = [x**2 for x in range(5)]
print(squared)

[0, 1, 4, 9, 16]

In [34]:
# Copying a List

copy_list = seq[:]
print(copy_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# Clearing a List

copy_list.clear()
print(copy_list)

[]

In [36]:
# Finding Index of an Element

print(seq.index(5))

4

In [37]:
# Extending a List

seq2.extend([6, 7])
print(seq2)

[1, 2, 4, 5, 6, 7]